Repository ekino/gems, pull requests merged in 2024-10, with the labels that each got.

#9 [EVOL]: init Angular best practices
  angular/README.md
Labels: documentation, review is welcome, Wait For Merge

#12 [EVOL]: enrich documentation with post-Angular 17 changes
  angular/README.md
Labels: documentation, review is welcome, angular, Wait For Merge

#7 [FEATURE]: add javascript best practices
  javascript/README.md
Labels: documentation, review is welcome, PR in review

#8 [EVOL]: Update Tools & Linters guidelines
  git/README.md
  tools-linters/README.md
Labels: documentation, review is welcome, tools, PR in review
